@font-face{
	font-family:"text";
	src:url(../polices/Louis-George-Cafe.ttf);
}


@font-face{
	font-family:"title";
	src:url(../polices/LEMONMILK-Light.otf);
}


h1{
	padding-top: 0.3%;
	margin:0 0 0 0;
	font-family: title;
	font-size: 1.5vw;
	background-image:  linear-gradient(to right, #ff009b, #00f0ff);
  	-webkit-background-clip: text;
 	color:transparent;
}


h3{
    font-size: 1.6vw;
    font-family: title;
    background-image:  linear-gradient(to right, #ff009b, #00f0ff);
  	-webkit-background-clip: text;
 	color:transparent;
 	text-align: center;
}

a {
		text-decoration: underline;
		color: white;
}

p{font-family: text;}
ul{padding:0 0 0 0;}

header{
	display: flex;
	flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color:  black;
   	width:100%;
    padding: 0 0 1% 2%;
    position:fixed;
}


.lienNW{
	display: flex;
	justify-content: center;
	align-items: center;	
	margin-top: 50%;
	text-align: center;
	margin-left: 5%;
}


.liseret{
	height:0.5vw;
	width:100%;
	background-image:  linear-gradient(to right, #ff009b, #00f0ff); 
	margin-top:3%;
	position:fixed;
}

#ancre{
	display: flex;
	flex-direction: column;
	justify-content: center;align-items: center;
	width:3%;
	position: fixed;
	margin :6% 97% 0 0;
	padding: 0 0 0 0;
}


.contenuPage{
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 8% 0 8%;	
	margin-bottom: 10%;
	width: 80%;
}

.intro{
	
	text-align: center;
	width: 80%;
	padding:0.5% 3% 0.5% 3%;
	background-image:  linear-gradient(to right, #ff009b, #00f0ff);
	font-size: 1.5vw;
	border-radius: 10vw;
	margin-bottom: 10%;
	margin-top: 5%;
	font-family: text;
}

.ensembleDiv{
	display: flex;
	flex-direction:row;
	justify-content: center;
	justify-content: space-between;
	width: 100%;

}

.contourListe{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
	padding:0.3% 0.3% 0.3% 0.5%;
	background-image:  linear-gradient(to right, #ff009b, #00f0ff);
	margin-bottom: 10%;
	border-radius: 2vw;
	box-shadow: 0 0 1vw black;
}


.listeDansContour{
	display: flex;
	flex-direction: column;
	padding:0.5% 10% 0.5% 10%;
	border-radius: 2vw;
	height: 100%;
	background-color:black;
	color: white;
	font-size:1.5vw;
	font-family: text;
	margin-left: 0px;
	width: 80%; 
	height: 100%;	
}

.liseretFooter{
	height:0.5vw;
	width:100%;
	background-image:  linear-gradient(to right, #ff009b, #00f0ff); 
}


footer{		
	display: flex;
	flex-direction:row;
	justify-content: center;
	background: black; 
	width: 100%;
	padding: 3% 0 1% 0;
	font-size:2vw;
}

.email{
	text-decoration: none;
	background-image: linear-gradient(to right, #ff009b, #00f0ff);
	-webkit-background-clip: text;
 	color: transparent;
	font-family: text;
}

.image{
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	background-color: black;
	width:40%;
}

.upec{	
	background-color: black;
	width:35%;
}

.signature{
	display: flex;
	justify-content: center;
	background-image:  linear-gradient(to right, #ff009b, #00f0ff);
  	-webkit-background-clip: text;
 	color:transparent;
	font-family: text;
	margin: 0 0 0 3.5%;
}

.date{

	font-size: 1vw;
	background-image:  linear-gradient(to right, #ff009b, #00f0ff);
  	-webkit-background-clip: text;
 	color:transparent;
 	margin-bottom: 0;
}


@media all and (max-width: 1000px){
	
	h1{

		font-size: 4vw;
	}

	h3{
		font-size: 3vw;
	}

	p{
		font-size: 3vw;
	}

	a{
		font-size: 3vw;
	}


	#ancre{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width:7%;
		position: fixed;
		margin :13% 93% 0 0;
		padding: 0 0 0 0;
	}


	.liseret{display: none;}

	.email{
		
		margin-left: 3%;
		text-decoration: none;
		background-image:linear-gradient(to right, #ff009b, #00f0ff); 
    	-webkit-background-clip: text;
    	color: transparent;
		font-family:text;
		font-size: 3vw;
	}

	.upec{	
		background-color: black;
		width:60%;
		font-size: 2vw;
	}

	.date{

		font-size: 1.5vw;
	 	background-image:linear-gradient(to right, #ff009b, #00f0ff); 
	    -webkit-background-clip: text;
	    text-align: center;
	    color: transparent;
	 	margin-bottom: 0;
	}

	.liseretFooter{margin-top: 115%;}
}

body{
	display: flex;
	flex-direction: column;
	background-color: white;
	align-items: center;
	background-image: url(../images/fond.svg);
	background-size: 100% 100%;
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0 0 0 0 ;	
}