@font-face{
	font-family:"texte";
	src:url(polices/Louis-George-Cafe.ttf);
}


@font-face{
	font-family:"title";
	src:url(polices/LEMONMILK-Light.otf);
}


h1{
	margin:0 0 0 0;
	font-family: title;
	font-size: 1.2vw;
 	background-image:linear-gradient(to right, #0c2bc2ff, #ff0032ff); 
    -webkit-background-clip: text;
    color: transparent;
}

h2{
	margin: 0 0 0 0;
	font-family: title;
	font-size: 1.6vw;
 	background-image:linear-gradient(to right, #0c2bc2ff, #ff0032ff); 
    -webkit-background-clip: text;
    color: transparent;
 }


h3{
    font-size: 1.6vw;
    font-family: title;
    background-image:linear-gradient(to right, #0c2bc2ff, #ff0032ff); 
     -webkit-background-clip: text;
     color: transparent;
}

p{
	font-family:texte;
	color: white;
}

a{
	text-decoration: none;
}

ul{
	list-style-type: circle;
	padding: 0 0 0 0 ;
}

strong{
  background-image:linear-gradient(to right, #0c2bc2ff, #ff0032ff); 
     -webkit-background-clip: text;
     color: transparent;

}



header{
	display: flex;
	flex-direction: row;
    justify-content:right;
    background-color:  black;
 
   	width:100%;
    padding: 0 2% 1% 2%;
    position:fixed;
}

.lienNW{
	display: flex;
	justify-content: center;
	align-items: center;	
	margin-top: 50%;
	text-align: center;
	margin-left: 5%;
}

#topBarre{
	display:flex;  
	flex-direction: row;
	justify-content: center;
	align-items: center;
    list-style: none;
    padding: 0 0 0 0;
    margin:0 5% 0 5%;
}

.vignette{
	text-decoration:none;
	margin-left:5%; 
	padding-right: 0.5vw; 
	border-right: 0.1vw solid white;
	border-bottom: solid 0.1vw white;
	margin-top: 5%;
	border-radius: 0.1vw;
}

.vignette:hover{
	 border-color:#ff0032ff ;
	box-shadow: 0.1vw 0.1vw 0.2vw  #ff0032ff;
}

.liseret{
	height:0.5vw;
	width:100%;
	background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff); 
	margin-top: 3.5%;
	position:fixed;
}

.location{
		background-color: black;
	padding:0.5vw 1vw 0.5vw 1vw;	
	border-bottom-right-radius: 0.5vw ;
	border-bottom-left-radius: 0.5vw ;
	margin-top: 1.8%;
	position:fixed;
}

#ancre{
	display: flex;
	flex-direction: column;
	justify-content: center;align-items: center;
	width:3%;
	position: fixed;
	margin :6% 97% 0 0;
	padding: 0 0 0 0;
}

.contenuPage{
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 8% 0 8%;	
	margin-bottom: 10%;
}

.intro{
	text-align: center;
	width: 80%;
	padding:0.5% 3% 0.5% 3%;
	background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff);
	font-size: 1.5vw;
	border-radius: 10vw;
	margin-bottom: 10%;
}

.contour{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding:0.3% 0.3% 0.3% 0.3%;
	background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff);
	margin-bottom: 10%;
	border-radius: 2vw;
	box-shadow: 0 0 1vw black;
}

.texteCentrerDansContour{
	display: flex;
	text-align: justify;
	flex-direction: column;
	align-items: center;
	padding: 0.5% 3% 0.5% 3%;
	border-radius: 2vw;
	background-color: black;
	font-size: 1.5vw;
}

.ensembleDiv{
	display: flex;
	flex-direction: row;
	height: auto;
	justify-content: space-between;
	margin-bottom: 10%;
	width:100%;
	padding:0 5% 0 5%;
}

.contourListe{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 40%;
	padding:0.3% 0.3% 0.3% 0.3%;
	background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff);
	margin-bottom: 10%;
	border-radius: 2vw;
	box-shadow: 0 0 1vw black;
}

.listeCentrerDansContour{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:0.5% 10% 0.5% 10%;
	border-radius: 2vw;
	height: 100%;
	background-color:black;
	color: white;
	font-size:1.5vw;
	font-family:texte;
	margin-left: 0px;
	width: 80%; 
	height: 100%;	
}

.liseretFooter{
	height:0.5vw;
	width:100%;
	background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff); 
}

footer{		
	display: flex;
	flex-direction:row;
	justify-content: center;
	background: black; 
	width: 100%;
	padding: 3% 0 1% 0;
	font-size:2vw;
}

.email{
	text-decoration: none;
	 background-image:linear-gradient(to right, #0c2bc2ff, #ff0032ff); 
     -webkit-background-clip: text;
     color: transparent;
	font-family:texte;
}

.image{
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	background-color: black;
	width:40%;
}

.upec{	
	background-color: black;
	width:35%;
}

.signature{
	display: flex;
	justify-content: center;
	 background-image:linear-gradient(to right, #0c2bc2ff, #ff0032ff); 
     -webkit-background-clip: text;
     color: transparent;
	font-family:texte;
	margin: 0 0 0 3.5%;
}

.date{

	font-size: 1vw;
	 background-image:linear-gradient(to right, #0c2bc2ff, #ff0032ff); 
     -webkit-background-clip: text;
     color: transparent;
 	margin-bottom: 0;
}


@media all and (min-width: 0px) and (max-width: 800px){
	
	.ensembleDiv{
		display: flex;
		flex-direction: column;
		height: auto;
		justify-content: space-between;
		margin-bottom: 10%;
		width:100%;
		padding:0 5% 0 5%;
	}

	#ancre{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width:7%;
		position: fixed;
	    margin :20% 93% 0 0;
		padding: 0 0 0 0;
	}

	p{
		font-size: 3vw;
	}

	h3{
		font-size:4vw;
	}

	footer{		
	display: flex;
	flex-direction:row;
	justify-content: center;
	background: black; 
	width: 100%;
	padding: 3% 0 1% 0;
	font-size:2vw;
	}

}



@media screen and (max-width: 800px){

		.ensembleDiv{
		display: flex;
		flex-direction: column;
		height: auto;
		justify-content: space-between;
		margin-bottom: 10%;
		width:100%;
		padding:0 5% 0 5%;
	}
	
	#ancre{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width:7%;
		position: fixed;
		margin :20% 93% 0 0;
		padding: 0 0 0 0;
	}

	p{
		font-size: 3vw;
	}

	h3{
		font-size:4vw;
	}


	.email{
		
		margin-left: 3%;
		text-decoration: none;
		background-image:linear-gradient(to right, #0c2bc2ff, #ff0032ff); 
    	-webkit-background-clip: text;
    	color: transparent;
		font-family:texte;
		font-size: 3vw;
	}

	.upec{	
		background-color: black;
		width:60%;
		font-size: 2vw;
	}

	.date{

	font-size: 1.5vw;
	 background-image:linear-gradient(to right, #0c2bc2ff, #ff0032ff); 
     -webkit-background-clip: text;
     text-align: center;
     color: transparent;
 	margin-bottom: 0;
}


}



@media all and (max-device-width: 800px){
	
		.ensembleDiv{
		display: flex;
		flex-direction: column;
		height: auto;
		justify-content: space-between;
		margin-bottom: 10%;
		width:100%;
		padding:0 5% 0 5%;
	}
	
	#ancre{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width:7%;
		position: fixed;
		margin :20% 93% 0 0;
		padding: 0 0 0 0;
	}

	p{
		font-size: 3vw;
	}

	h3{
		font-size:4vw;
	}

	footer{		
	display: flex;
	flex-direction:row;
	justify-content: center;
	background: black; 
	width: 100%;
	padding: 3% 0 1% 0;
	font-size:2vw;
	}
}

body{
	display: flex;
	flex-direction: column;
	background-color: white;
	align-items: center;
	background-image: url(images/bildongz.svg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0 0 0 0 ;	

}