@font-face{
	font-family:"text";
	src:url(polices/Louis-George-Cafe.ttf);
}


@font-face{
	font-family:"title";
	src:url(polices/LEMONMILK-Light.otf);
}

h1{
	margin-bottom:0px;
	text-align: center;
	font-family: title;
	font-size: 1.2vw;
	margin-top: 0px;


}


p{
	font-size: 1vw;
	font-family: text;
}

button{

    border-radius: 20px;
    text-align: center;
    font-size:0.8vw;
    font-family: title;
    border-width: 0.2vw;
    border-color: #F71289;
    color:  #F71289;
    margin-bottom:1vw; 
    margin-top: 1vw;
    box-shadow: 0px 0px 20px rgba(247,18,137,0.3);
}

button:hover{

cursor: pointer;
background-image: :  linear-gradient(to right, #F71289, #045FB4);
 box-shadow: 0px 0px 20px rgba(247,18,137,0.6);

}

h2{
	margin-top: 2%;
	width:auto;
	text-align: center;
	font-family: title;
	font-size: 2vw;
	
}


h3{
	height: auto;
	margin-left: 1%;
	margin-bottom: none;
	margin-right: 1%;
    color: black;
    text-align: center;
    font-size: 1.5vw;
    font-family: title;
	
}

header{
	display: flex;
	flex-direction: row;
    display: flex;
    justify-content:right;
    align-items: center;
    background-color: black;
    padding: 0% 2% 1% 1%;
    margin-bottom: 10%;
    attachment: fixed;
}

#topBarre{

	 display:flex;  
     list-style:none;
     padding:0% 3% 0% 3%;
     margin:0% 3% 0% 3%;
     justify-content: center;


}

.vignette{

	text-decoration:none;
	color: white;
	box-shadow: 0.1vw 0.1vw 0vw white;
	margin-left:5%; 
	height:auto;
	padding:0% 2% 0% 3%;
	margin-top: 5%;
	border-radius: 0.2vw;
}

.vignette:hover{

	text-decoration:none;
	color: black;
	text-shadow: 0px 0px 3px white;
	box-shadow: 2px 2px 1px grey;
	margin-left:5%; 
	height:auto;
	padding:0% 2% 0% 3%;
	margin-top: 5%;
}

.ensemble{
	display: flex;
	flex-wrap: wrap;
	height: auto;
	justify-content: center;
	margin-bottom: 10%;
	height: all;
}

.contour{
	display: flex;
	justify-content: center;
	margin:5% 5% auto 5%;
	padding:0.2% 0.2% 0.2% 0.2%;
	border-radius: 0.5vw;
	height:auto;
	margin-top: 1vw;
	max-width: 50%;
	background-image:  linear-gradient(to right, #F71289, #00AAAd);
}

.divDeTexte{
	padding:0.5% 3% 0.5% 3%;
	border-radius: 1vw;
	height:auto;;
	max-width:100%;
	
	background-color: white;
}

.divDeTexteCentrer{
	padding:0.5% 3% 0.5% 3%;
	border-radius: 0.5vw;
	height:auto;
	max-width:100%;
	text-align: center;
	background-color: white;
}





body{

margin: 0 0 0 0 ;	
padding: 0 0 0 0 ;
}

