@font-face{
	font-family:"text";
	src:url(polices/Louis-George-Cafe.ttf);
}


@font-face{
	font-family:"title";
	src:url(polices/LEMONMILK-Light.otf);
}

h1{
	margin-bottom:0px;
	text-align: center;
	font-family: title;
	font-size: 1.2vw;
	margin-top: 0px;
		background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

.intro{
color:white;
}



button{

    border-radius: 20px;
    text-align: center;
    font-size:0.8vw;
    font-family: title;
    border-width: 0.2vw;
    border-color: #F71289;
    color:  #F71289;
    margin-bottom:1vw; 
    margin-top: 1vw;
    box-shadow: 0px 0px 20px rgba(247,18,137,0.3);
}

button:hover{

cursor: pointer;
background-image: :  linear-gradient(to right, #F71289, #045FB4);
 box-shadow: 0px 0px 20px rgba(247,18,137,0.6);

}

h2{
	text-align: center;
	font-family: title;
	font-size: 1.6vw;
	margin: 0 0 0 0;
		background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


h3{
	height: auto;
	margin-left: 1%;
	margin-bottom: none;
	margin-right: 1%;
    color: white;
    text-align: center;
    font-size: 1.5vw;
    font-family: title;
    text-shadow: 0px 0px 1vw #ff0032ff;
	
}

header{
	display: flex;
	flex-direction: row;
    display: flex;
    justify-content:right;
    align-items: center;
    background-color:  black;
   
    padding: 0% 2% 1% 1%;

}


#topBarre{

	 display:flex;  
     list-style:none;
     padding:0% 3% 0% 3%;
     margin:0% 3% 0% 3%;
     justify-content: center;


}

.vignette{

	text-decoration:none;
	box-shadow: 0.1vw 0.1vw 0vw white;
	margin-left:5%; 
	height:auto;
	padding:0% 2% 0% 3%;
	margin-top: 5%;
	border-radius: 0.2vw;
}

.vignette:hover{

	text-decoration:none;
	box-shadow: 2px 2px 1px #ff0032ff;
	margin-left:5%; 
	height:auto;
	padding:0% 2% 0% 3%;
	margin-top: 5%;


}

.liseret{
	height:0.5vw;
	width:100%;
	background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff); 
}


.location{

	background-color: black;
	padding:0.5vw 1vw 0.5vw 1vw;	
	border-bottom-right-radius: 0.5vw ;
	border-bottom-left-radius: 0.5vw ;
	margin-top:-1vw;
	margin-bottom: 10%;

}


.contenuPage{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 5% 0 5%;
	background-color: linear-gradient(to right, #0c2bc2ff, #ff0032ff);	
	margin-bottom: 20%;
}

.contourIntro{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	padding:0.3% 0.3% 0.3% 0.3%;
	margin-top: 1vw;
	background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff);
	margin-bottom: 10%;
	border-radius: 10vw;
	box-shadow: 0 0 1vw black;
}


.divDeTexteCentrerIntro{

	padding:0.5% 3% 0.5% 3%;
	border-radius: 0.2vw;
	height:auto;
	max-width:100%;
	text-align: center;
	font-size:1.5vw;
	font-family: text;
	border-radius: 10vw;
}

.ensemble{

	display: flex;
	flex-direction: row;
	height: auto;
	justify-content: space-between;
	margin-bottom: 10%;
	width:100%;
	padding:0 5% 0 5%;

}

.contour{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding:0.3% 0.3% 0.3% 0.3%;
	margin-top: 1vw;
	background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff);
	margin-bottom: 10%;
	border-radius: 2vw;
	box-shadow: 0 0 1vw black;
}


.divDeTexteCentrer{

	padding:0.5% 3% 0.5% 3%;
	border-radius: 2vw;
	height:auto;
	max-width:100%;
	text-align: center;
	background-color:rgba(0,0,0,0.3);
	color: white;
	font-size:1.5vw;
	font-family: text;
}

.contourListe{

	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 40%;
	width: auto;
	padding:0.3% 0.3% 0.3% 0.3%;
	margin-top: 1vw;
	background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff);
	margin-bottom: 10%;
	border-radius: 2vw;
	box-shadow: 0 0 1vw black;
}

.divDeTexteListe{
	align-items:  center;
	justify-content: center;
	padding:0.5% 10% 0.5% 15%;
	border-radius: 2vw;
	text-align: left;
	height: 100%;
	background-color:rgba(0,0,0,0.5);
	color: white;
	font-size:1.5vw;
	font-family: text;
	margin-left: 0px;
	width: 75% ; 	

}

footer{
	background: white;
	margin-top: 5%;
}



body{
	background-color:  	rgba(20,20,20,1);
	display: flex;
	flex-direction: column;
	margin: 0 0 0 0 ;	
	padding: 0 0 0 0 ;
}

