@font-face{
	font-family:"text";
	src:url(polices/Louis-George-Cafe.ttf);
}


@font-face{
	font-family:"title";
	src:url(polices/LEMONMILK-Light.otf);
}


h1{
	margin:0 0 0 0;
	font-family: title;
	font-size: 1.2vw;
	background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff);
  	background-clip: text;
 	color:transparent;
}

h2{
	margin: 0 0 0 0;
	font-family: title;
	font-size: 1.6vw;
	background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff);
  	background-clip: text;
 	color:transparent;
 }


h3{
    text-align: center;
    font-size: 1.6vw;
    font-family: title;
    text-shadow: 0px 0px 3vw grey;	
 background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff);
  	background-clip: text;
 	color:transparent;
}

p{
	font-family: text;
	color: white;
}

ul{

	list-style-type: circle;
}

span{

	font-weight: bold;
	background-image: linear-gradient(to right, #0c2bc2ff, #ff0032ff); 
	background-clip:text;
	color:transparent;
}
button{
    border-radius: 1vw;
    text-align: center;
    font-size:1.7vw;
    font-family: text;
    border:solid 0.05vw white;
    background-image: linear-gradient(to right, #0c2bc2ff, #ff0032ff); 
	background-clip:text;
	color:transparent;
    margin-bottom:1vw; 
    margin-top: 1vw;
    box-shadow: 0px 0px 1vw rgba(247,18,137,0.3);

}

button:hover{
	cursor: pointer;
 	box-shadow: 0px 0px 1.2vw rgba(247,18,137,0.6);
}


header{
	display: flex;
	flex-direction: row;
    justify-content:right;
    background-color:  black;
   	width:100%;
    padding: 0 2% 1% 2%;
    position:fixed;
}


#topBarre{
	display:flex;  
	flex-direction: row;
	justify-content: center;
	align-items: center;
    list-style: none;
    padding: 0 0 0 0;
    margin:0 5% 0 5%;
}

.vignette{
	text-decoration:none;
	margin-left:5%; 
	padding-right: 0.5vw; 
	border-right: 0.1vw solid white;
	border-bottom: solid 0.1vw white;
	margin-top: 5%;
	border-radius: 0.1vw;
}

.vignette:hover{
	 border-color:#ff0032ff ;
	box-shadow: 0.1vw 0.1vw 0.2vw  #ff0032ff;
}

.liseret{
	height:0.5vw;
	width:100%;
	background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff); 
	margin-top: 3.2%;
	position:fixed;
}

.location{
	background-color: black;
	padding:0.5vw 1vw 0.5vw 1vw;	
	border-bottom-right-radius: 0.5vw ;
	border-bottom-left-radius: 0.5vw ;
	margin-top: 1.5%;
	position:fixed;
}

.contenuPage{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
	padding: 0 3% 0 3%;	
	margin-bottom: 10%;
}

.intro{
	text-align: center;
	width: 70%;
	padding:0.5% 3% 0.5% 3%;
	background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff);
	font-size: 1.5vw;
	border-radius: 10vw;
	margin-bottom: 10%;
}

.contour{
	width: 100%;
	padding:0.3% 0.3% 0.3% 0.3%;
	background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff);
	margin-bottom: 10%;
	border-radius: 2vw;
	box-shadow: 0 0 1vw black;
}

.ensembleDiv{
	display: flex;
	justify-content: space-between;
	width:100%;
}

.contourA{
	max-width: 40%;
	padding:0.3% 0.3% 0.3% 0.3%;
	background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff);
	margin-bottom: 10%;
	border-radius: 2vw;
	box-shadow: 0 0 1vw black;
}

.projetTemplate{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 3% 0 0;
	border-radius: 2vw;
	color: white;
	font-size:1.5vw;
	max-width: 100%; 	
	background-color: black;
}

#divScrollable{
	height:10vw;
	overflow-y: scroll;
	font-family: text;
	border:3px solid white;
	border-radius: 1vw;
	padding:3% 1% 1% 1%;
	margin-right: 5%;
	scrollbar-color: #f1002f black; 
    scrollbar-width: thin;
    scroll-behavior: smooth;
    border-top-right-radius: 10vw;
}

.liseretFooter{
	height:0.5vw;
	width:100%;
	background-image: linear-gradient(to right, #0c2bc2ff, #ff0032ff); 
}

footer{		
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	background: black; 
	width: 100%;
	padding: 3% 0 3% 0;
	font-size:2vw;
}

.email{
	text-decoration: none;
	background-image: linear-gradient(to right, #0c2bc2ff, #ff0032ff);
	background-clip: text;
 	color: transparent;
	font-family: text;
}

.image{
	display: flex;
	justify-content: center;
	background-color: black;
	width:40%;
}

.upec{	
	background-color: black;
	width:35%;
}

.signature{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image:  linear-gradient(to right, #0c2bc2ff, #ff0032ff);
  	background-clip: text;
 	color:transparent;
	font-family: text;
	margin: 0 0 0 3.5%;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
		background-image: url(images/bildongz.svg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color:white;
	margin: 0 0 0 0 ;	
}